<h1 class="h1 ac pt-55">{{ content_page['localized_title'] }}</h1>

<ul class="list ibs opisanie_list_2 js-filters main_list">
    <li class="item"><a class="link active" data-type="all" href="{{ _lang['href_prefix'] }}/{{ content_slugs['media'] }}/">{{ local['word.media.all'] }}</a></li>
    {% for media_type, media_type_title in media_types %}
        {% if media_counts[media_type] %}
            <li class="item"><a class="link" data-type="{{ type_names[media_type] }}" href="{{ _lang['href_prefix'] }}/{{ content_slugs['media'] }}/#{{ type_names[media_type] }}">{{ media_type_title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<div class="article_list_block js-article_list_block">
    <ul class="list ibs article_list js-list">
        {% for media in media_col %}
            {% include 'media/row.html.twig' %}
        {% endfor %}
    </ul>
    {% if col_left %}
    <p class="ac">
        <a class="open js-open" data-url="/api/media/load_more" data-loading-text="{{ local['word.loading'] }}">{{ local['phrase.load_more'] }}</a>
        <a class="close js-close">{{ local['word.collapse'] }}</a>
    </p>
    {% endif %}
</div>
