{% if related|length > 0 %}
<div class="other_news">
    <h2 class="h2">{{ local['word.media.' ~ type_name] }}</h2>
    <div class="box">
        <div class="swiper-container carousel_8 js-carousel_8">
            <div class="swiper-wrapper">
                {% for r in related %}
                <div class="swiper-slide item">
                    <div class="fig">
                        <a class="link" href="{{ r['href'] }}"><img class="img" src="{{ r['pic_safe'] ?: r['pic_tn_with_path'] }}" alt="{{ r['localized_title'] }}" loading="lazy"></a>
                    </div>
                    <div class="date">{{ r['date_str'] }}</div>
                    <div class="text">
                        <a class="link" href="{{ r['href'] }}">{{ r['localized_title'] }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="swiper-button-next carousel_8_next next"></div>
            <div class="swiper-button-prev carousel_8_prev prev"></div>
        </div>
    </div>
</div>
{% endif %}
