<li class="item" data-type="{{ media['target_type_name'] }}">
    <div class="fig">
        <a class="link" href="{{ media['href'] }}"><img class="img" src="{{ media['pic_safe'] ?: media['pic_with_path'] }}" alt="{{ media['localized_title'] }}" loading="lazy"></a>
    </div>
    <div class="media">{{ media['localized_target_type_title'] }}</div>
    <div class="text">
        <a class="link" href="{{ media['href'] }}">{{ media['localized_title']|raw }}</a>
    </div>
</li>
