<h1 class="h4 ac pt-55">
    <a href="{{ _lang['href_prefix'] }}/{{ content_slugs['media'] }}/">{{ content_page['localized_title'] }}</a>
    /
    <a href="{{ _lang['href_prefix'] }}/{{ content_slugs['media'] }}/#{{ type_name }}">{{ type_title }}</a>
</h1>

<div class="news_in_block">
    <div class="title">{{ m['localized_title'] }}</div>
    <div class="date">{{ m['date_str'] }}</div>
    {% block content %}
    <div class="fig article_fig">
        <img class="img" src="{{ m['pic_with_path'] }}" alt="{{ m['localized_title'] }}" loading="lazy">
    </div>
    {{ m['localized_content']|raw }}
    {% endblock %}
</div>

{% include 'media/related.html.twig' %}
