{% extends 'media/single/_base.html.twig' %}

{% block content %}
    {% if m['embed_safe'] %}
        <div class="radio">{{ m['embed_safe']|raw }}</div>
    {% endif %}
    <div>{{ m['localized_content']|raw }}</div>
    {% if m['localized_source'] %}
        <div>{{ m['localized_source'] }}</div>
    {% endif %}
{% endblock %}
