{% extends 'media/single/_base.html.twig' %}

{% block content %}
    <div class="video_fig">
        <iframe width="100%" height="100%" src="{{ m['vendor_embed_link'] }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>{{ m['localized_content']|raw }}</div>
{% endblock %}
