<div class="about">
    <h1 class="h1 ac"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['about'] }}/">{{ local['caption.about'] }}</a></h1>
    <div class="left_block">
        {{ content_page['localized_content']|raw }}
        <p><a class="btn btn_1 js-show_modal" href="#modal_video_1">{{ local['watch_trailer'] }}</a></p>
    </div>
    <div class="right_block">
        <div class="swiper-container about_list main_list carousel_5 js-carousel_5">
            <div class="swiper-wrapper">
                {% for p in promo_photos %}
                    <div class="swiper-slide item">
                        <div class="fig">
                            <a data-lightbox="gal1" data-light-class="box_fig" class="link js-lightbox"
                               href="{{ p['pic_with_path'] }}" title=""{#{{ p['localized_title'] }}#}
                            ><img class="img" src="{{ p['pic_tn_with_path'] }}"
                                  alt="{{ p['localized_title'] }}" loading="lazy"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next carousel_5_next next"></div>
            <div class="swiper-button-prev carousel_5_prev prev"></div>
        </div>
    </div>
</div>
