<div class="contacts">
    <div class="text">
        <h3 class="h3">
            <a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['contacts'] }}/">{{ local['caption.contacts'] }}</a>
        </h3>
        {% include 'contacts/location.html.twig' %}
    </div>
    {% include 'contacts/map.html.twig' %}
</div>
