{% macro mediaRow(m) %}
    <div class="fig">
        <a class="link" href="{{ m['href'] }}"><img class="img" src="{{ m['pic_safe'] ?: m['pic_with_path'] ?: m['pic_tn_with_path'] }}" alt="{{ m['localized_title'] }}" loading="lazy"></a>
    </div>
    <div class="in">
        <div class="date">{{ m['date_str'] }}</div>
        <div class="text">
            <a class="link" href="{{ m['href'] }}">{{ m['localized_title'] }}</a>
        </div>
    </div>
{% endmacro %}
{% set hero = media.getModelByIdx(0) %}
{% set other_media = media.slice(1) %}
<div class="article">
    <h3 class="h3"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['media'] }}/">{{ local['caption.media'] }}</a></h3>
    {% if hero.exists() %}
    <div class="main_article">
        {{ _self.mediaRow(hero) }}
    </div>
    {% endif %}
    {% if other_media|length %}
    <div class="box">
        <div class="swiper-container carousel_8 js-carousel_8">
            <div class="swiper-wrapper">
                {% for m in other_media %}
                <div class="swiper-slide item">
                    {{ _self.mediaRow(m) }}
                </div>
                {% endfor %}
            </div>

            <div class="swiper-button-next carousel_8_next next"></div>
            <div class="swiper-button-prev carousel_8_prev prev"></div>
        </div>
    </div>
    {% endif %}
</div>
