<div class="news">
    <h3 class="h3"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['news'] }}/">{{ local['caption.news'] }}</a></h3>
    <div class="box">
        <div class="swiper-container carousel_3 js-carousel_3">
            <div class="swiper-wrapper">
                {% for n in news %}
                    <div class="swiper-slide item">
                    <div class="fig">
                        <a class="link" href="{{ n['href'] }}"><img class="img" src="{{ n['pic_tn_with_path'] }}" alt="{{ n['localized_title'] }}" loading="lazy"></a>
                    </div>
                    <div class="date">{{ n['date_str'] }}</div>
                    <div class="text"><a class="link" href="{{ n['href'] }}">{{ n['localized_title'] }}</a></div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next carousel_3_next next"></div>
            <div class="swiper-button-prev carousel_3_prev prev"></div>
        </div>
    </div>
</div>
