{% set a = not Z.addBodyClass(['main_page']) %}

{% if content_by_type['about']['localized_visible'] %}{% include 'home/about.html.twig' %}{% endif %}

{% include '_parts/calendar/outer.html.twig' with {
    show_caption: true,
} %}

{% if content_by_type['solos']['localized_visible'] %}{% include 'home/solos.html.twig' %}{% endif %}

{% if content_by_type['reviews']['localized_visible'] %}{% include 'home/reviews.html.twig' %}{% endif %}

{% if content_by_type['news']['localized_visible'] %}{% include 'home/news.html.twig' %}{% endif %}

{% if content_by_type['media']['localized_visible'] %}{% include 'home/media.html.twig' %}{% endif %}

{% if content_by_type['contacts']['localized_visible'] %}{% include 'home/contacts.html.twig' %}{% endif %}

{% if content_by_type['tickets_online']['localized_visible'] %}{% include 'home/tickets.html.twig' %}{% endif %}

{% include 'home/projects.html.twig' %}

{% include '_parts/snippets/tickets.html.twig' %}
