<div class="our_musicals">
    <h3 class="h3">
        <a class="link" href="#">{{ local['caption.siblings'] }}</a>
    </h3>
    <ul class="list ibs our_musicals_list">
        {% for s in sibling_shows %}
            <li class="item">
                <a class="link" href="{{ s['website'] }}" target="_blank">
                    <div class="fig">
                        <img class="img" src="assets/images/siblings/{{ _lang['name'] }}/{{ s['name'] }}.jpg" alt="{{ s['title'] }}" loading="lazy">
                    </div>
                    <div class="text">
                        <div class="name">{{ s['title'] }}</div>
                        <div class="from_creators">{{ s['intro']|nl2br }}</div>
                        <div class="info">{{ s['description']|nl2br }}</div>
                        <div class="web">{{ s['website_cut'] }}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
