<div class="reviews">
    <h3 class="h3"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['reviews'] }}/">{{ local['caption.reviews'] }}</a></h3>
    <ul class="list ibs reviews_list">
        {% for r in reviews %}
            {% include 'reviews/row.html.twig' %}
        {% endfor %}
    </ul>
    <p><a class="btn btn_1" href="{{ _lang['href_prefix'] }}/{{ content_slugs['reviews'] }}/">{{ local['review.all'] }}</a></p>
</div>
