<div class="soloists">
    <h3 class="h3"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['solos'] }}/">{{ local['caption.solos'] }}</a></h3>
    <div class="swiper-container carousel_2 js-carousel_2">
        <div class="swiper-wrapper">
            {% for character in characters %}
                {% set characterSolos = character.getSolos() %}
                {% set prevCharacter = characters2.getModelByIdx(loop.index0 - 1) %}
                {% set nextCharacter = characters2.getModelByIdx(loop.index0 + 1) %}
                {% if characterSolos|length == 4 %}
                    {% set extraItemClass = ' item_with_four' %}
                {% elseif characterSolos|length == 3 %}
                    {% set extraItemClass = ' item_with_three' %}
                {% elseif characterSolos|length == 2 %}
                    {% set extraItemClass = ' item_with_two' %}
                {% else %}
                    {% set extraItemClass = '' %}
                {% endif %}
                {# {% if character['home_css_class'] %} item_{{ character['home_css_class'] }}{% endif %} #}
                <div class="swiper-slide item{{ extraItemClass }}">
                    <div class="previous_frame">{{ prevCharacter['localized_title'] }}</div>
                    <div class="next_frame">{{ nextCharacter['localized_title'] }}</div>
                    <div class="title">{{ character['localized_title'] }}</div>
                    <div class="into">
                        {% for solo in characterSolos %}
                            {# {% if solo['home_css_class'] %} name_block_{{ solo['home_css_class'] }}{% endif %} #}
                            <div class="name_block">
                                <div class="fig">
                                    <img class="img" src="{{ solo['pic_with_path'] }}" alt="{{ character['localized_title'] ~ ' ' ~ solo['localized_title'] }}" loading="lazy">
                                </div>
                                <div class="name">
                                    <a data-lightbox="gal12"
                                       class="link js-lightbox"
                                       data-light-class="modal_soloists_block"
                                       href="{{ solo['pic2_with_path'] }}"
                                       data-lightbox-subtitle="{{ solo['localized_title'] }}"
                                       data-lightbox-subname="{{ character['localized_title'] }}"
                                       data-lightbox-subtext="{{ solo['localized_content']|striptags }}"
                                    >{{ solo['localized_title_with_nl']|raw }}</a>
                                    <a data-lightbox="gal12"
                                       class="more js-lightbox"
                                       data-light-class="modal_soloists_block"
                                       href="{{ solo['pic2_with_path'] }}"
                                       data-lightbox-subtitle="{{ solo['localized_title'] }}"
                                       data-lightbox-subname="{{ character['localized_title'] }}"
                                       data-lightbox-subtext="{{ solo['localized_content']|striptags }}"
                                    >{{ local['solo.get_more'] }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next carousel_2_next next"></div>
        <div class="swiper-button-prev carousel_2_prev prev"></div>
    </div>
</div>
