{% extends 'contacts/tickets.html.twig' %}

{% block footer %}
    <div class="promo">
        <p>{{ local['promo.block.01'] }}</p>
        <p>{{ local['promo.block.02'] }}</p>
        <p>{{ local['promo.block.03'] }}</p>
    </div>
    {#
    <p><a class="btn btn_1" href="//old.orlov-musical.ru" target="_blank">{{ local['word.old_website'] }}</a></p>
    #}
{% endblock %}
