{% if photos|length %}
    <div class="swiper-container carousel_4 js-carousel_4">
        <div class="swiper-wrapper">
            {% for photo in photos %}
                <div class="swiper-slide item">
                    <div class="fig">
                        <a class="link" href="{{ photo['pic_with_path'] }}"><img class="img" src="{{ photo['pic_with_path'] }}" alt="{{ photo['localized_title'] }}" loading="lazy"></a>
                    </div>
                    <div class="number">{{ loop.index }}/{{ photos|length }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next carousel_4_next next"></div>
        <div class="swiper-button-prev carousel_4_prev prev"></div>
    </div>
{% endif %}
