<div class="social_networks">
    <ul class="list ibs social_networks_list">
        {% for name, href in socials|filter(v => v) %}
        <li class="item">
            <a class="link" href="{{ href }}" target="_blank"><span class="fig"><img class="img" src="images/icons/{{ name }}.svg" alt="" loading="lazy"></span></a>
        </li>
        {% endfor %}
    </ul>
</div>
