<div class="swiper-container carousel_1 js-carousel_1">
    <div class="close"><span class="link js-close"></span></div>
    <div class="swiper-wrapper">
        {% for slide in top_slides %}
            <div class="swiper-slide item">
                <a class="link" href="{{ slide['localized_href'] }}">
                    <div class="beige_text">{{ slide['localized_title']|raw }}</div>
                    {{ slide['localized_content']|raw }}
                </a>
            </div>
        {% endfor %}
    </div>
    {% if top_slides|length > 1 %}<div class="swiper-pagination_1"></div>{% endif %}
</div>
