<div class="calendar js-calendar">
    {% if show_caption %}
    <h3 class="h3">
        <a class="link" href="{{ content_by_type['tickets']['real_href'] }}">{{ local['calendar.upcoming_shows'] }}</a>
    </h3>
    {% endif %}
    <div class="month select_month js-select_month js-tabs">
        <div class="sub">
            <div class="arrow_prev">
                <a class="link" href="#"></a>
            </div>
            {% for month in calendar['upcoming_months'] %}
                {% set selectedOrig = calendar['R'].getSelectedOrig() %}
                {% set active = month['month'] == selectedOrig.month() and month['year'] == selectedOrig.year() %}
                <div class="item{% if active %} active2{% endif %}">
                    <a class="link{% if active %} active{% endif %}" href="{{ content_by_type['tickets']['real_href'] ~ month['month_url_suffix'] }}" data-anchor="#calendar-{{ month['idx'] }}">{{ month['title'] }}</a>
                </div>
            {% endfor %}
            {% if calendar['upcoming_months']|length > 3 or true %}
                <div class="arrow_next">
                    <a class="link" href="#"></a>
                </div>
            {% endif %}
        </div>
    </div>
    {% for month in calendar['upcoming_months'] %}
        {% set worker = calendar['R'].reInitWorker(month['month'], month['year']) %}
        {% set selected = calendar['R'].getSelected() %}
        {% set selectedOrig = calendar['R'].getSelectedOrig() %}
        {% set active = month['month'] == selectedOrig.month() and month['year'] == selectedOrig.year() %}
        <div id="calendar-{{ month['idx'] }}" class="{% if not active %}hidden{% endif %}">
            <table class="table" data-widget-uri="{{ calendar['widget_uri_base'] }}">
            <thead>
                <tr>
                {% for idx, title in calendar['weekdays'] %}
                    <th data-title="{{ calendar['short_weekdays'][idx] }}">
                        <span class="text">{{ title }}</span>
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% set monthFinished = false %}
                {% for week in 1..10 %}{% if not monthFinished %}
                <tr>
                    {% for weekDay in 1..7 %}
                        {% set classes = [] %}
                        {% set classes2 = [] %}
                        {% set revaluation = false %}
                        {% set qr = false %}
                        {% if worker.month() != selected.month() %}
                            {% set dayNumber = '' %}
                            {% set inactive = true %}
                            {% set shows = [] %}
                            {% set classes = classes|merge(['inactive']) %}
                        {% else %}
                            {% set dayNumber = worker.day() %}
                            {% set inactive = false %}
                            {% set flag = null %}
                            {% set shows = calendar['R'].getShowsForWorker() %}
                            {% for show in shows %}
                                {% if 'show-day' not in classes %}
                                    {% set classes = classes|merge(['show-day']) %}
                                {% endif %}
                                {% if show['flag'] and not flag %}
                                    {% set flag = show %}
                                    {% set classes2 = classes2|merge(['time_mobile_' ~ flag['flag_class']]) %}
                                    {% if shows|length > 1 %}
                                        {% set classes2 = classes2|merge(['time_mobile_' ~ flag['flag_class'] ~ '_many']) %}
                                    {% endif %}
                                {% endif %}
                                {% if show['moved'] and 'moved' not in classes %}
                                    {#{% set flag = show %}#}
                                    {% set a = not calendar['R'].setWorkerMoved() %}
                                    {% set classes = classes|merge(['moved']) %}
                                {% endif %}
                                {% if show['revaluation'] and 'revaluation' not in classes %}
                                    {#{% set flag = show %}#}
                                    {% set revaluation = true %}
                                    {% set classes = classes|merge(['revaluation']) %}
                                {% endif %}
                                {% if show['qr'] and 'qr' not in classes %}
                                    {% set qr = true %}
                                    {% set classes = classes|merge(['qr']) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if calendar['R'].isToday() and not inactive %}
                            {% set classes = classes|merge(['active']) %}
                        {% endif %}
                        <td class="{{ classes|join(' ') }}">
                            {{ dayNumber }}
                            {% if not inactive %}
                                {% if flag %}
                                    {% set is_flag_link = flag['localized_flag_href'] ? true : false %}
                                    {% set flag_caption = flag['localized_flag_caption'] ?: flag['flag_localized_title'] %}
                                    <div class="{{ flag['flag_class'] }}">
                                        <span class="text">
                                            {% if is_flag_link %}<a href="{{ flag['localized_flag_href'] }}" class="text_link">{% endif %}
                                            {{ flag_caption }}
                                            {% if is_flag_link %}</a>{% endif %}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if revaluation %}<div class="scale" data-title="{{ local['show.revaluation'] }}"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['dynamic_pricing'] }}/"></a></div>{% endif %}
                                {% if qr %}<div class="qr-ico" data-title="{{ local['show.qr.needed'] }}"><a class="link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['covid_free'] }}/"></a></div>{% endif %}
                                {% if shows|length > 0 %}
                                <div class="time_mobile js-time_mobile {{ classes2|join(' ') }}">
                                    <div class="title">
                                        <a class="link js-link" href="{{ shows[0]['day_href'] }}">
                                            {% for s in shows %}
                                                <div class="dot"></div>
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="sub">
                                        <div class="time">
                                            {% if flag %}
                                                <div class="time_title">
                                                    {% if is_flag_link %}<a href="{{ flag['localized_flag_href'] }}" class="link">{% endif %}
                                                    {{ flag_caption }}
                                                    {% if is_flag_link %}</a>{% endif %}
                                                </div>
                                            {% endif %}
                                            {% for s in shows %}
                                                <div class="item">
                                                    {% if s['revaluation'] %}<a class="scale_link" href="{{ _lang['href_prefix'] }}/{{ content_slugs['dynamic_pricing'] }}/"></a>{% endif %}
                                                    {% if s['qr'] %}<a class="qr-ico-phone" href="{{ _lang['href_prefix'] }}/{{ content_slugs['covid_free'] }}/"></a>{% endif %}
                                                    <a class="link" href="{{ s['href'] }}" data-widget-id="{{ s['widget_id'] }}">{{ s['date_time'] }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% set a = not worker.incDay() %}
                    {% endfor %}
                </tr>
                    {% if worker.month() != selected.month() %}
                        {% set monthFinished = true %}
                    {% endif %}
                {% endif %}{% endfor %}
            </tbody>
            </table>
        </div>
    {% endfor %}
    {% set safe_action = action_by_purpose[2] %}{# Purpose::SAFE #}
    <div class="bottom_block">
        {# covid-19 message
        <div class="secure_environments">{{ local['show.safety'] }}</div>
        <div class="in">
            <a class="more" href="{{ safe_action ? safe_action['href'] : '' }}">{{ local['word.more'] }}</a>
        </div>
        #}
        <div class="in">
            {{ local['home.tickets_note'] }}
        </div>
    </div>
</div>
