{% include '_parts/h1.html.twig' %}

<ul class="list ibs info_list">
    {% for p in sub_pages %}
        <li class="item">
            <a class="link" href="{{ p['href'] }}">
                <div class="fig">
                    <img class="img" src="{{ p['ico_with_path'] }}" alt="{{ p['localized_title'] }}" loading="lazy">
                </div>
                <div class="text">{{ p['localized_title'] }}</div>
            </a>
        </li>
    {% endfor %}
</ul>
