{% set a = not Z.addBodyClass(['black_bg']) %}{# 'no_age_limit' #}
{% include '_parts/h1.html.twig' %}
<ul class="list soloists_list">
    {% for character in characters %}
        {% set characterSolos = character.getSolos() %}
        {% set extraWrapperNeeded = false %}
        {% if characterSolos|length == 4 %}
            {% set extraItemClass = ' item_with_four' %}
            {% set extraWrapperNeeded = true %}
        {% elseif characterSolos|length == 3 %}
            {% set extraItemClass = ' item_with_three' %}
        {% elseif characterSolos|length == 2 %}
            {% set extraItemClass = ' item_with_two' %}
        {% else %}
            {% set extraItemClass = '' %}
        {% endif %}
        <li class="item{{ extraItemClass }}">
            <div class="title">{{ character['localized_title'] }}</div>
            {% if extraWrapperNeeded %}<div class="into">{% endif %}
            {% for solo in characterSolos %}
                <div class="name_block">
                    <a
                        class="link js-lightbox"
                        href="{{ solo['pic2_with_path'] }}"
                        data-lightbox="gal1"
                        data-light-class="modal_soloists_block"
                        data-lightbox-subtitle="{{ solo['localized_title'] }}"
                        data-lightbox-subname="{{ character['localized_title'] }}"
                        data-lightbox-subtext="{{ solo['localized_content']|striptags }}"
                    ></a>{#solo['pic3_with_path'] ?: #}
                    <div class="fig"><img class="img" src="{{ solo['pic_with_path'] }}" alt="{{ solo['localized_title'] }}" loading="lazy"></div>
                    <div class="name">{{ solo['localized_title_with_nl']|raw }}</div>
                </div>
            {% endfor %}
            {% if extraWrapperNeeded %}</div>{% endif %}
        </li>
    {% endfor %}
</ul>
