<table class="hall-prices">
    <thead>
    <tr>
        <td>Пояс</td>
        {% for col in columns %}
            <td>{{ col['title']|raw }}<small>{{ col['note']|raw }}</small></td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for idx, row in rows %}
        <tr data-idx="{{ idx }}">
            <td style="background-color: {{ row['color'] }};">{{ row['title'] ?: idx }}</td>
            {% for i in 1..3 %}
            <td><input type="text" name="prices[{{ idx }}][{{ i }}]" value="{{ model.getPriceBy(i, idx) }}" size="10"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
