.news_list {
  margin: 4.8rem 14.7rem 0 12.2rem;

  @media (min-width: 768px) and (max-width: 1050px) {
    margin: 4.8rem 2.1rem 0 0.1rem;
  }

  @media (max-width: 767px) {
    margin: 2.8rem 1rem;
  }

  .item {
    width: calc(33.3333% - 2.5rem);
    margin: 0 0 6.6rem 2.5rem;
    text-align: center;
    line-height: 1.3;

    @media (min-width: 768px) and (max-width: 1050px) {
      width: calc(33.3333% - 2rem);
      margin: 0 0 5rem 2rem;
      line-height: 1.4;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 3.4rem;
      line-height: 1.2;
    }
  }

  .fig {
    display: block;
    width: 100%;
    padding-bottom: 56.44%;
    margin: 0 0 1.5rem;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) and (max-width: 1050px) {
      margin: 0 0 0.9rem;
    }

    @media (max-width: 767px) {
      margin: 0 0 0.9rem;
    }

    .img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }

  .link {
    color: #262a32;
    text-decoration: none;
  }

  .date {
    margin: 0 0 0.7rem;
    font-size: 1.8rem;
    text-transform: uppercase;

    @media (min-width: 768px) and (max-width: 1050px) {
      margin: 0 0 1rem;
      font-size: 1.4rem;
    }

    @media (max-width: 767px) {
      margin: 0 0 0.4rem;
      font-size: 1.4rem;
    }
  }

  .text {
    @media (min-width: 768px) and (max-width: 1050px) {
      font-size: 2rem;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
    }
  }
}

.news_in_block {
  padding: 2.7rem 26.1rem 0;

  @media (min-width: 768px) and (max-width: 1050px) {
    padding: 0 2.1rem 0;
    font-size: 2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.6rem;
  }

  .fig {
    display: block;
    width: 60rem;
    height: 40rem;
    margin: 0 auto 9.4rem;
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) and (max-width: 1050px) {
      width: 100%;
      height: 40.8rem;
      margin: 0 auto 2.3rem;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 0;
      padding-bottom: 67%;
      margin: 0 auto 2.5rem;
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .video_fig,
  .article_fig {
    box-shadow: none;
  }

  .audio_fig {
  }

  .video_fig {
    display: block;
    width: 91.6rem;
    height: 52.4rem;
    margin: 0 auto 9.4rem;
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
    }

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
      @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;

    @media (min-width: 768px) and (max-width: 860px) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .date {
    margin: 0 0 4.1rem;
    text-transform: uppercase;
    text-align: center;
  }

  .title {
    margin: 0 -11.5rem 3.3rem;
    font-size: 6.8rem;
    color: #262a32;
    text-align: center;
    line-height: 1;

    @media (min-width: 768px) and (max-width: 1050px) {
      margin: -0.7rem 0 2.3rem;
      font-size: 3rem;
      line-height: 1.1;
    }

    @media (max-width: 767px) {
      font-size: 2rem;
      line-height: 1.1;
    }
  }
}

.quote {
  font-style: italic;
}

.other_news {
  padding: 5.3rem 0 0;
  text-align: center;

  @media (max-width: 767px) {
    margin: 4.2rem 0 0;
    padding: 2.5rem 0 0;
  }

  @media (min-width: 768px) and (max-width: 1050px) {
    margin: 5.7rem 0 0;
    padding: 2.5rem 0 0;
  }

  .h2 {
    margin: 0 0 4.9rem;

    @media (min-width: 768px) and (max-width: 1050px) {
      margin: 0 0 3rem;
      font-size: 2.2rem;
    }
  }
}

.pt-5 {
  @media (max-width: 767px) {
    padding-top: 0.3rem !important;
  }
}
