<footer class="footer">
    <div class="age_limit_footer">12+</div>
    <div class="company_footer">© {{ _tech['year'] }} {{ local['theatre'] }}</div>
    <div class="footer_search">
        <a class="link js-show_modal" href="#modal_search">{{ local['word.search'] }}</a>
    </div>
    <div class="footer_search_mobile js-search">
        <form method="post" action="">
            <input
                class="field js-field"
                type="search"
                name="search"
                value=""
                placeholder="{{ local['word.search'] }}"
            >
            <button class="btn js-btn" type="button"></button>
        </form>
    </div>
</footer>
<footer class="footer_bottom">
    <div class="projects">
        <div class="title">{{ local['our_projects'] }}:</div>
        {% for s in sibling_shows %}
            <div class="fig">
                <a class="link" href="{{ s['website'] }}" target="_blank"><img class="img" src="assets/images/siblings/{{ _lang['name'] }}/{{ s['name'] }}.svg" alt="{{ s['title'] }}" loading="lazy"></a>
            </div>
        {% endfor %}
    </div>
    {#
    <div class="projects2">
        <div class="fig">
            <a class="link" href="#" target="_blank"><img
                        class="img"
                        src="images/icons/footer_kino.svg"
                        alt=""
                        loading="lazy"></a>
        </div>
        <div class="fig">
            <a class="link" href="#" target="_blank"><img
                        class="img"
                        src="images/icons/footer_music.svg"
                        alt=""
                        loading="lazy"></a>
        </div>
    </div>
    #}
    {% include '_parts/social.html.twig' %}
    <div class="language_footer">
        <ul class="list ibs language_list">
            <li class="item{% if _lang['name'] == 'ru' %} active{% endif %}"><a href="{{ _lang['links']['ru'] }}" class="link">RU</a></li>
            <li class="item{% if _lang['name'] == 'en' %} active{% endif %}"><a href="{{ _lang['links']['en'] }}" class="link">EN</a></li>
        </ul>
    </div>
</footer>
