<header class="header">
    {% if top_slides|length %}{% include '_parts/top-slides.html.twig' %}{% endif %}
    <div class="header_top js-header-top">
        <div class="age_limit">12+</div>
        <div class="logo_mobile"><a class="link" href="{{ _lang['href_prefix'] }}/"></a></div>
        <div class="ticket_mobile"><a class="link" href="{{ content_by_type['tickets']['real_href'] }}">{{ content_by_type['tickets']['localized_title'] }}</a></div>
        {#
        {% if not Z.isHomeHeader() %}
            <div class="header_search">
                <a class="link js-show_modal" href="#modal_search"></a>
            </div>
        {% endif %}
        #}
        <nav class="nav js-nav">
            <button class="nav_toggle js-nav-toggle"></button>
            {% include 'menu/top.html.twig' %}
        </nav>
        <div class="phone">
            <p class="ml-8">{{ local['order_tickets'] }}</p>
            <p><a class="link" href="tel:+{{ phone['main']|clean_phone }}">{{ phone['main'] }}</a></p>
        </div>
    </div>

    {% if Z.isHomeHeader() %}
    <div class="fig_promo js-promo">
        {% block home_header %}{% endblock %}
    </div>
    {% endif %}
</header>
