<script id="modal_video_1" class="js-modal_template hidden" type="text/template">
    <div class="box_video">
        {% block video_frame %}{% endblock %}
    </div>
</script>

<div id="modal_reviews_form" class="modal blur modal_box_form modal_form js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <h3 class="h3 ac">{{ local['review.form.heading'] }}</h3>
                    <form class="ph-7 js-validate" action="" method="post">
                        <div class="c-100 mb-9">
                            <p>
                                <label class="label_2" for="modal_ask_question_name">{{ local['review.field.name'] }}</label>
                            </p>
                            <p>
                                <input
                                    id="modal_ask_question_name"
                                    type="text"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не представились"
                                    value=""
                                    placeholder=""
                                    name="name"
                                >
                            </p>
                        </div>
                        <div class="c-100 mb-9">
                            <p>
                                <label class="label_2" for="modal_ask_question_email">{{ local['review.field.email'] }}</label>
                            </p>
                            <p>
                                <input
                                    id="modal_ask_question_email"
                                    type="email"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не указали email"
                                    data-error-message-correct="вы неверно указали email"
                                    value=""
                                    placeholder=""
                                    name="email"
                                >
                            </p>
                        </div>
                        <div class="c-100 mb-22">
                            <p>
                                <label class="label_2" for="modal_ask_question_message">{{ local['review.field.content'] }}</label>
                            </p>
                            <p>
                                <textarea
                                    id="modal_ask_question_message"
                                    name="content"
                                    class="field c-100 h-172"
                                    placeholder=""
                                ></textarea>
                            </p>
                        </div>
                        <p class="fr mr-12">
                            <button type="submit" class="button">{{ local['review.submit'] }}</button>
                        </p>
                        <div id="modal_reviews_form_error" class="invalid_message hidden">
                            {{ local['review.error.default'] }}
                        </div>
                    </form>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_search" class="modal blur modal_search_block js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <form method="post" action="/search">
                        <input
                            class="field js-field"
                            id="btn_modal_search"
                            type="search"
                            name="search"
                            value=""
                            placeholder="введите запрос"
                        >
                        <button class="btn js-btn" type="button">{{ local['word.search.verb'] }}</button>
                    </form>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_thanks" class="modal blur box_thanks js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <h3 class="h3">{{ local['word.thanks'] }}</h3>
                    <p>{{ local['phrase.message_sent'] }}</p>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div
    id="modal_reviews_none_fig"
    class="modal blur modal_reviews_block_none_fig js-modal hidden"
>
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="name"></div>
                    <p></p>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div
    id="modal_reviews"
    class="modal blur modal_reviews_block js-modal hidden"
>
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="fig">
                        <img class="img" src="assets/images/_core/stuff/z.gif" alt="" loading="lazy">
                    </div>
                    <div class="name"></div>
                    <div class="post"></div>
                    <p></p>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div
    id="modal_creators"
    class="modal blur modal_creators_block js-modal hidden"
>
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="fig">
                        <img class="img" src="assets/images/_core/stuff/z.gif" alt="" loading="lazy">
                    </div>
                    <div class="name"></div>
                    <div class="post"></div>
                    <p></p>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="js-modal" class="modal blur hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="modal__body js-modal__body"></div>
                    <a class="modal__close_btn js-modal_hide" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
<div id="modal_lightbox" class="modal blur  box_fig js-modal hidden">
    <div class="modal__inner js-modal_hide">
        <div class="modal__horisontal_inner js-modal_hide">
            <div class="modal__vertical_inner js-modal_hide">
                <div class="modal__content">
                    <div class="modal_lightbox__title"></div>
                    <div class="modal_lightbox__subtitle pk_none"></div>
                    <div class="modal_lightbox__subname pk_none"></div>
                    <div class="modal_lightbox__image"></div>
                    <div class="modal_lightbox__text">
                        <div class="modal_lightbox__subtitle mobile_none"></div>
                        <div class="modal_lightbox__subname mobile_none"></div>
                        <div class="modal_lightbox__subtext"></div>
                    </div>
                    <div class="modal_lightbox__prev"></div>
                    <div class="modal_lightbox__next"></div>
                    <a class="modal__close_btn js-modal_hide modal_soloists_block_none" href="#"></a>
                </div>
            </div>
        </div>
        <a class="modal__close_btn js-modal_hide box_fig_none" href="#"></a>
    </div>
    <div class="modal__bg js-modal_hide"></div>
</div>
