<div class="cast_block">
    <div class="title">{{ local['staff.of'] }}</div>
    <ul class="list ibs opisanie_list_4 js-tabs">
        {% set showCounter = 0 %}
        {% for show in shows %}
            <li class="item"><a class="link{% if showCounter == 0 %} active{% endif %}" href="#{{ show['date_time'] }}" data-time="{{ show['date_time'] }}">{{ show['date_time'] }}</a></li>
            {% set showCounter = showCounter + 1 %}
        {% endfor %}
    </ul>

    {% set showCounter = 0 %}
    {% for show in shows %}
        {% if show['staff_status'] %}
            <div id="{{ show['date_time'] }}" class="{% if showCounter > 0 %}hidden{% endif %}">
            <ul class="list ibs cast_list">
            {% for character in characters %}
                {% set solo = staff[show['id']][character['id']] %}
                <li class="item">
                    <a data-lightbox="gal12"
                       class="link js-lightbox"
                       data-light-class="modal_soloists_block"
                       href="{{ solo['pic_with_path'] }}"
                       data-lightbox-subtitle="{{ solo['localized_title'] }}"
                       data-lightbox-subname="{{ character['localized_title'] }}"
                       data-lightbox-subtext="{{ solo['localized_content']|striptags }}"
                    >
                        {% if solo['pic'] %}
                        <div class="fig">
                            <img class="img" src="{{ solo['pic_with_path'] }}" alt="{{ solo['localized_title'] }}" loading="lazy">
                        </div>
                        {% endif %}
                        <div class="name">{{ solo['localized_title'] }}</div>
                        <div class="post">{{ character['localized_title'] }}</div>
                    </a>
                </li>
            {% endfor %}
            </ul>
            </div>
        {% else %}
            <div class="no-actors {% if showCounter > 0 %}hidden{% endif %}" id="{{ show['date_time'] }}" data-time="{{ show['date_time'] }}">{{ local['staff.undefined'] }}</div>
        {% endif %}
        {% set showCounter = showCounter + 1 %}
    {% endfor %}
</div>
