* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.no-scrolling {
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

.ib,
audio,
canvas,
embed,
label,
object,
video {
  display: inline-block;
  vertical-align: top;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

.hidden {
  embed,
  object {
    display: none;
  }
}

[hidden] {
  display: none;
}

:focus,
div:target,
embed,
object {
  outline: 0 none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

.b,
b,
strong {
  font-weight: 700;
}

.n {
  font-weight: 400 !important;
}

.i,
dfn,
em,
i {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

body,
figure,
form,
p {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: normal;
  overflow: visible;
  text-transform: none;
  vertical-align: top;
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
label,
select {
  cursor: pointer;
}

button,
html input[type="button"] {
  cursor: pointer;
}

input {
  &[type="reset"],
  &[type="submit"] {
    cursor: pointer;
  }

  &[type="search"] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    cursor: pointer;
    margin: 0;
  }
}

.ie input {
  &[type="checkbox"],
  &[type="radio"] {
    margin: -3px;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    margin: 2px 1px;
  }
}

x:-o-prefocus {
  margin: 2px 1px;
}

button[disabled],
input[disabled] {
  cursor: not-allowed;
}

ol,
ul {
  padding: 0 0 0 2em;
  margin: 0 0 1.5em;
  overflow: hidden;
}

ol {
  ol,
  ul {
    padding-top: 0.5em;
  }
}

ul {
  ol,
  ul {
    padding-top: 0.5em;
  }
}

li {
  margin: 0 0 0.5em;
  padding: 0;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    padding: 0;
  }
}

.list {
  margin: 0;
  padding: 0;
  overflow: visible;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  > li {
    margin: 0;
    padding: 0;
    list-style: none;

    &:after,
    &:before {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-55 {
  margin-right: 55px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-75 {
  margin-right: 75px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-55 {
  margin-bottom: 55px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-7 {
  margin-left: 7px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-9 {
  margin-left: 9px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.ml-34 {
  margin-left: 34px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.ml-38 {
  margin-left: 38px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-55 {
  margin-left: 55px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.ml-75 {
  margin-left: 75px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pr-3 {
  padding-right: 3px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.pr-7 {
  padding-right: 7px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-9 {
  padding-right: 9px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pr-14 {
  padding-right: 14px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-22 {
  padding-right: 22px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pr-34 {
  padding-right: 34px !important;
}

.pr-36 {
  padding-right: 36px !important;
}

.pr-38 {
  padding-right: 38px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-55 {
  padding-right: 55px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pr-75 {
  padding-right: 75px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 1px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.pl-3 {
  padding-left: 3px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.pl-7 {
  padding-left: 7px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-9 {
  padding-left: 9px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-14 {
  padding-left: 14px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-22 {
  padding-left: 22px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pl-34 {
  padding-left: 34px !important;
}

.pl-36 {
  padding-left: 36px !important;
}

.pl-38 {
  padding-left: 38px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-55 {
  padding-left: 55px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pl-75 {
  padding-left: 75px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-9 {
  padding-top: 9px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-14 {
  padding-top: 14px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-18 {
  padding-top: 18px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-22 {
  padding-top: 22px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-26 {
  padding-top: 26px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-34 {
  padding-top: 34px !important;
}

.pt-36 {
  padding-top: 36px !important;
}

.pt-38 {
  padding-top: 38px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-55 {
  padding-top: 55px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-75 {
  padding-top: 75px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.lh-1 {
  line-height: 1;
}

.lh-11 {
  line-height: 1.1;
}

.lh-12 {
  line-height: 1.2;
}

.lh-13 {
  line-height: 1.3;
}

.lh-14 {
  line-height: 1.4;
}

.lh-15 {
  line-height: 1.5;
}

.lh-16 {
  line-height: 1.6;
}

.lh-17 {
  line-height: 1.7;
}

.lh-18 {
  line-height: 1.8;
}

.lh-20 {
  line-height: 2;
}

.lh-22 {
  line-height: 2.2;
}

.lh-24 {
  line-height: 2.4;
}

.lh-26 {
  line-height: 2.6;
}

.lh-28 {
  line-height: 2.8;
}

.lh-30 {
  line-height: 3;
}

.content p {
  margin-bottom: 1.4em;
}

.ph-0 p,
ul.li-0 > li {
  margin-bottom: 0;
}

.ph-1 p,
ul.li-1 > li {
  margin-bottom: 1px;
}

.ph-2 p,
ul.li-2 > li {
  margin-bottom: 2px;
}

.ph-3 p,
ul.li-3 > li {
  margin-bottom: 3px;
}

.ph-4 p,
ul.li-4 > li {
  margin-bottom: 4px;
}

.ph-5 p,
ul.li-5 > li {
  margin-bottom: 5px;
}

.ph-6 p,
ul.li-6 > li {
  margin-bottom: 6px;
}

.ph-7 p,
ul.li-7 > li {
  margin-bottom: 7px;
}

.ph-8 p,
ul.li-8 > li {
  margin-bottom: 8px;
}

.ph-9 p,
ul.li-9 > li {
  margin-bottom: 9px;
}

.ph-10 p,
ul.li-10 > li {
  margin-bottom: 10px;
}

.ph-12 p,
ul.li-12 > li {
  margin-bottom: 12px;
}

.ph-14 p,
ul.li-14 > li {
  margin-bottom: 14px;
}

.ph-16 p,
ul.li-16 > li {
  margin-bottom: 16px;
}

.ph-18 p,
ul.li-18 > li {
  margin-bottom: 18px;
}

.ph-20 p,
ul.li-20 > li {
  margin-bottom: 20px;
}

.ph-22 p,
ul.li-22 > li {
  margin-bottom: 22px;
}

.ph-24 p,
ul.li-24 > li {
  margin-bottom: 24px;
}

.ph-26 p,
ul.li-26 > li {
  margin-bottom: 26px;
}

.ph-28 p,
ul.li-28 > li {
  margin-bottom: 28px;
}

.ph-30 p,
ul.li-30 > li {
  margin-bottom: 30px;
}

.ph-32 p,
ul.li-32 > li {
  margin-bottom: 32px;
}

.ph-34 p,
ul.li-34 > li {
  margin-bottom: 34px;
}

.ph-36 p,
ul.li-36 > li {
  margin-bottom: 36px;
}

.ph-38 p,
ul.li-38 > li {
  margin-bottom: 38px;
}

.ph-40 p,
ul.li-40 > li {
  margin-bottom: 40px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cb {
  clear: both;
}

.cr {
  clear: right;
}

.cl {
  clear: left;
}

.c-20 {
  width: 20%;
}

.c-25 {
  width: 25%;
}

.c-30 {
  width: 30%;
}

.c-33 {
  width: 33.33333%;
}

.c-35 {
  width: 35%;
}

.c-40 {
  width: 40%;
}

.c-45 {
  width: 45%;
}

.c-50 {
  width: 50%;
}

.c-66 {
  width: 66.66666%;
}

.c-75 {
  width: 75%;
}

.c-80 {
  width: 80%;
}

.c-90 {
  width: 90%;
}

.c-100 {
  width: 100%;
}

.bc {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.al {
  text-align: left !important;
}

.ar {
  text-align: right !important;
}

.ac {
  text-align: center !important;
}

.aju {
  text-align: justify;
}

.vt {
  vertical-align: top !important;
}

.vm {
  vertical-align: middle !important;
}

.vb {
  vertical-align: bottom !important;
}

.bk {
  display: block;
}

.hidden {
  clip: rect(0 0 0 0) !important;
  visibility: hidden !important;
}

.rel {
  position: relative !important;
}

.abs,
.hidden {
  position: absolute !important;
}

.w-10 {
  width: 10px;
}

.w-12 {
  width: 12px;
}

.w-14 {
  width: 14px;
}

.w-16 {
  width: 16px;
}

.w-18 {
  width: 18px;
}

.w-20 {
  width: 20px;
}

.w-22 {
  width: 22px;
}

.w-24 {
  width: 24px;
}

.w-26 {
  width: 26px;
}

.w-28 {
  width: 28px;
}

.w-30 {
  width: 30px;
}

.w-32 {
  width: 32px;
}

.w-34 {
  width: 34px;
}

.w-36 {
  width: 36px;
}

.w-38 {
  width: 38px;
}

.w-40 {
  width: 40px;
}

.w-42 {
  width: 42px;
}

.w-44 {
  width: 44px;
}

.w-46 {
  width: 46px;
}

.w-48 {
  width: 48px;
}

.w-50 {
  width: 50px;
}

.w-55 {
  width: 55px;
}

.w-60 {
  width: 60px;
}

.w-65 {
  width: 65px;
}

.w-70 {
  width: 70px;
}

.w-75 {
  width: 75px;
}

.w-80 {
  width: 80px;
}

.w-90 {
  width: 90px;
}

.w-100 {
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}

.w-170 {
  width: 170px;
}

.w-180 {
  width: 180px;
}

.w-190 {
  width: 190px;
}

.w-200 {
  width: 200px;
}

.w-210 {
  width: 210px;
}

.w-220 {
  width: 220px;
}

.w-230 {
  width: 230px;
}

.w-240 {
  width: 240px;
}

.w-250 {
  width: 250px;
}

.w-260 {
  width: 260px;
}

.w-270 {
  width: 270px;
}

.w-280 {
  width: 280px;
}

.w-290 {
  width: 290px;
}

.w-300 {
  width: 300px;
}

.w-310 {
  width: 310px;
}

.w-320 {
  width: 320px;
}

.w-330 {
  width: 330px;
}

.w-340 {
  width: 340px;
}

.w-350 {
  width: 350px;
}

.w-360 {
  width: 360px;
}

.w-370 {
  width: 370px;
}

.w-380 {
  width: 380px;
}

.w-390 {
  width: 390px;
}

.w-400 {
  width: 400px;
}

.ibs {
  letter-spacing: -0.3em;
  line-height: 0;
  text-align: left;
  word-spacing: -0.3em;

  x:-o-prefocus {
    word-spacing: -0.3em;
  }

  > .item {
    display: inline-block;
    position: relative;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.2;
    vertical-align: top;
    z-index: 1;
  }
}

.ibs-ju {
  overflow: visible;
  line-height: 0;
  text-align: justify;

  > .item {
    display: inline-block;
    position: relative;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    z-index: 1;
  }

  &:after {
    content: "";
    display: inline-block !important;
    width: 100%;
    vertical-align: top;
  }
}

.ie8 .ibs-ju {
  text-justify: newspaper;
  text-align-last: justify;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}
