.tickets-wrapper {
  //position: relative;
}

iframe#widget {
  position: absolute;
  display: none;
  border: 0;
  z-index: 4;
  width: 100vw;
  top: 0;
  margin-top: 55px;
  height: 138vw;
  overflow: hidden;

  @media (max-width: 767px) {
    margin-top: 40px;
    height: 2200px;
  }
}

.widget-popup-wrapper {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  z-index: 100;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  i.widget-close {
    position: fixed;
    left: auto;
    right: 30px;
    top: 30px;
  }

  #widget-popup {
    position: fixed;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    overflow: auto;
    background: #dedcdc;
    border-radius: 10px;
  }
}

i.widget-close {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  // background: url("/assets/images/core/stuff/close.png") 0 0 no-repeat;
  background: url(../img/icons/carousel_1_close.svg) no-repeat 50% 50%;
  top: 0;
  left: 0;
  // margin-top: -10px;
  // margin-left: -10px;
  z-index: 101;
}
