{% set bottomCode %}
    <script src="/assets/js/_core/functions.js?{{ files_timestamp }}"></script>
    <script type="text/javascript">
        setTimeout(function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://widget.profticket.ru/api/api.min.js?2';
            script.async = true;
            document.body.appendChild(script);
        }, 0);
    </script>
    <script src="/assets/js/diTickets.js?{{ files_timestamp }}"></script>
{% endset %}
{% set a = not Z.addBottomCode(bottomCode) %}
{% set a = not Z.addBottomScript("new diTickets();") %}
