{% macro soloRow(s, c, checked) %}
    <li data-id="{{ s['id'] }}">
        <input type="radio" name="staff[{{ c['id'] }}]" id="staff[{{ c['id'] }}][{{ s['id'] }}]" value="{{ s['id'] }}"{% if checked %} checked="checked"{% endif %}>
        <label for="staff[{{ c['id'] }}][{{ s['id'] }}]">{{ s['title'] }}</label>
    </li>
{% endmacro %}

<div class="staff-list">
    {% for c in characters %}
        <div class="character">
            {% set nobody = true %}
            <h3>{{ c['title'] }}</h3>
            <ul class="solos">
                {% for s in solos %}
                    {% if s['character_id'] == c['id'] %}
                        {% set checked = s['id'] in show_staff_ids %}
                        {% if checked %}
                            {% set nobody = false %}
                        {% endif %}
                        {{ _self.soloRow(s, c, checked) }}
                    {% endif %}
                {% endfor %}
                {% set nobodySolo = { id: 0, title: 'Не определён' } %}
                {{ _self.soloRow(nobodySolo, c, nobody) }}
            </ul>
        </div>
    {% endfor %}
</div>
