{% include '_parts/h1.html.twig' %}
<div class="title_group_requests">{{ local['groups.happy']|raw }}</div>

{% if groups_presentation_fn and groups_presentation_show %}
<div class="pdf">
    <a class="link" href="{{ groups_presentation_fn }}">
        <div class="title">Презентация для корпоративных партнеров</div>
        <div class="download">СКАЧАТЬ</div>
        <div class="size">({{ groups_presentation_size }})</div>
    </a>
</div>
{% endif %}

<ul class="list ibs why_we_list">
    <li class="item">
        <div class="title">{{ local['groups.story.title'] }}</div>
        <p>{{ local['groups.story.text'] }}</p>
    </li>
    <li class="item">
        <div class="title">{{ local['groups.atmosphere.title'] }}</div>
        <p>{{ local['groups.atmosphere.text'] }}</p>
    </li>
    <li class="item">
        <div class="title">{{ local['groups.attendance.title'] }}</div>
        <p>{{ local['groups.attendance.text'] }}</p>
    </li>
</ul>

{% include '_parts/album.html.twig' %}

<div class="why_we_block">
    <h3 class="h3 ac">{{ local['groups.advantages.title'] }}</h3>
    <ul>
        <li>{{ local['groups.advantages.item01'] }}</li>
        <li>{{ local['groups.advantages.item02'] }}</li>
        <li>{{ local['groups.advantages.item03'] }}</li>
        <li>{{ local['groups.advantages.item04'] }}</li>
    </ul>
    <h3 class="h3 ac">{{ local['groups.variants.title'] }}</h3>
    <ul>
        <li>{{ local['groups.variants.item01'] }}</li>
        <li>{{ local['groups.variants.item02'] }}</li>
        <li>{{ local['groups.variants.item03'] }}</li>
    </ul>
    <p class="f-23 f-23_mobile">{{ local['groups.feedback']|raw }}</p>
    <p class="f-23 f-23_mobile">{{ local['groups.wishes']|raw }}</p>
</div>

<div class="special_conditions">
    <div class="bg_repet"></div>

    <div class="title">{{ local['groups.discuss']|raw }}</div>
    <div class="phone_special_conditions">
        <a class="link" href="tel:+{{ local['groups.phone']|clean_phone }}">{{ local['groups.phone'] }}</a>
    </div>
    <div class="box">
        {% if local['groups.person01.email'] or local['groups.person01.email2'] %}
        <div class="in">
            {{ local['groups.person01'] }}
            <a class="link" href="mailto:{{ local['groups.person01.email'] }}">{{ local['groups.person01.email'] }}</a>
            {% if local['groups.person01.email2'] %}
            <a class="link" href="mailto:{{ local['groups.person01.email2'] }}">{{ local['groups.person01.email2'] }}</a>
            {% endif %}
        </div>
        {% endif %}
        {% if local['groups.person02.email'] or local['groups.person02.email2'] %}
        <div class="in">
            {{ local['groups.person02'] }}
            <a class="link" href="mailto:{{ local['groups.person02.email'] }}">{{ local['groups.person02.email'] }}</a>
            {% if local['groups.person02.email2'] %}
            <a class="link" href="mailto:{{ local['groups.person02.email2'] }}">{{ local['groups.person02.email2'] }}</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
