{# только бюсты, без полного роста #}
{% set a = not Z.addBodyClass(['black_bg']) %}
<div class="creators_block">
    {% include '_parts/h1.html.twig' %}
    {% block hero %}{% endblock %}
</div>

{% if content_page['localized_content'] %}
    <div class="creators_text">{{ content_page['localized_content']|raw }}</div>
{% endif %}

<ul class="list ibs creators_list {{ troupe_wrapper_extra_class }}">
    {% for r in col %}
        <li class="item">
            <a class="link js-show_modal" data-modal-class="modal_creators_block" href="#modal_creators_{{ r['slug'] }}">
                <div class="fig">
                    <img class="img" src="{{ r['pic_with_path'] }}" alt="{{ r['localized_title'] }}, {{ r['localized_position'] }}" loading="lazy">
                </div>
                <div class="name">{{ r['localized_title'] }}</div>
                <div class="post">{{ r['localized_position'] }}</div>
            </a>
            <template id="modal_creators_{{ r['slug'] }}">
                <div class="fig">
                    <img class="img" src="{{ r['pic_with_path'] }}" alt="{{ r['localized_title'] }}, {{ r['localized_position'] }}" loading="lazy">
                </div>
                <div class="name">{{ r['localized_title'] }}</div>
                <div class="post">{{ r['localized_position'] }}</div>
                {{ r['localized_content']|raw }}
            </template>
        </li>
    {% endfor %}
</ul>
