<ul class="list ibs opisanie_list_3 js-tabs">
    <li class="item">
        <span class="link active" href="#tab_1">
            <span class="number">1</span><span class="text">Выбрать время</span>
        </span>
    </li>
    <li class="item">
        <span class="link" href="#tab_2">
            <span class="number">2</span><span class="text">Выбрать места</span>
        </span>
    </li>
    <li class="item">
        <span class="link" href="#tab_3">
            <span class="number">3</span><span class="text">Данные зрителей</span>
        </span>
    </li>
    <li class="item">
        <span class="link" href="#tab_4">
            <span class="number">4</span><span class="text">Выбрать способ получения</span>
        </span>
    </li>
    <li class="item">
        <span class="link" href="#tab_5">
            <span class="number">5</span><span class="text">Подтверждение данных и оплата</span>
        </span>
    </li>
</ul>
