
<div id="tab_2" class="hidden select_locations">
    <div class="item">
        <div class="title">Театр оперетты</div>
        <p>ГРАФ ОРЛОВ 16 апреля 2021 19:00, пятница</p>
        <div class="box">
            <a class="link" href="#">
                <div class="in">Выбрано билетов:</div>
                <div class="number">1</div>
            </a>
            <a class="link" href="#">
                <div class="in">на сумму</div>
                <div class="number">5500 руб.</div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="title">Цены</div>
        <div class="color_block">
            <div class="item">
                <div style="background-color: #bc403a" class="color"></div>
                <div class="number">— 5 300 руб.</div>
            </div>
            <div class="item">
                <div style="background-color: #eb4ff7" class="color"></div>
                <div class="number">— 4 100 руб.</div>
            </div>
            <div class="item">
                <div style="background-color: #5cc84d" class="color"></div>
                <div class="number">— 2 800 руб.</div>
            </div>
            <div class="item">
                <div style="background-color: #f7cd76" class="color"></div>
                <div class="number">— 2 200 руб.</div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="resume"><a class="link" href="#">продолжить</a></div>
        <div class="red_text">Осталось времени: 07 мин. 10 сек.</div>
    </div>
    <div class="fig">
        <img
                class="img"
                src="images/content/pic50.png"
                alt=""
                title=""
                loading="lazy"
        />
    </div>
</div>
<div id="tab_3" class="hidden select_locations select_locations_2">
    <div class="item">
        <div class="title">ГРАФ ОРЛОВ</div>
        <p>16 апреля 2021 19:00, пятница</p>
    </div>
    <div class="item">
        <div class="resume resume_no_active">
            <a class="link" href="#">продолжить</a>
        </div>
        <div class="red_text">Осталось времени: 07 мин. 10 сек.</div>
    </div>
    <div class="info_text">
        <p class="mb-55">
            В связи с угрозой распространения в городе Москве новой
            коронавирусной инфекции (2019-nCov) гражданам: имеющими
            определенные заболевания, контактировавшими с заболевшими
            2019-nCov ограничивается посещение выставок, спектаклей и других
            культурно-досуговых мероприятий.
        </p>
        <div class="confirm">
            Подтверждаю, что у меня и всех, для кого я приобретаю билеты:
        </div>
        <form class="ph-18 js-validate" action="" method="post">
            <p>
                <label class="checkbox">
                    <input
                            id="checkbox_1"
                            name="checkbox"
                            class="hidden"
                            type="checkbox"
                            value="" />
                    <span class="bg"></span
                    ></label>
                <label class="label ml-10" for="checkbox_1"
                >Отсутствуют заболевания,
                    <a class="link" href="#">перечень</a> которых определен
                    Департаментом здравоохранения города Москвы, при которых не
                    допускается покидать место проживания (пребывания) в условиях
                    действия режима повышенной готовности в Москве
                </label>
            </p>
            <p>
                <label class="checkbox">
                    <input
                            id="checkbox_2"
                            name="checkbox"
                            class="hidden"
                            type="checkbox"
                            value="" />
                    <span class="bg"></span
                    ></label>
                <label class="label ml-10" for="checkbox_2"
                >Отсутствуют подозрения на наличие новой коронавирусной
                    инфекции (2019-nCoV), а также проявления острой респираторной
                    вирусной инфекции и других острых респираторных заболеваний
                </label>
            </p>
            <p>
                <label class="checkbox">
                    <input
                            id="checkbox_3"
                            name="checkbox"
                            class="hidden"
                            type="checkbox"
                            value="" />
                    <span class="bg"></span
                    ></label>
                <label class="label ml-10" for="checkbox_3"
                >Отсутствуют контакты с гражданами, у которых выявлено наличие
                    новой коронавирусной инфекции (2019-nCoV)</label
                >
            </p>
        </form>
    </div>
    <div class="info_text">
        <p class="mb-55">
            Просим вас ниже заполнить данные каждого зрителя, для которых
            приобретаются билеты.
        </p>
        <div class="confirm">
            Ряд: 1. Место: 4. Ложа бенуара №1, Правая сторона
        </div>
        <div class="form_box">
            <form class="ph-2 js-validate" action="" method="post">
                <div class="c-100 mb-38">
                    <div class="ib mr-30 c-25">
                        <p>
                            <label class="label_2" for="form_box_surname"
                            >Фамилия</label
                            >
                        </p>
                        <p>
                            <input
                                    id="form_box_surname"
                                    type="text"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не указали фамилию"
                                    value=""
                                    placeholder=""
                            />
                        </p>
                    </div>
                    <div class="ib mr-30 c-25">
                        <p>
                            <label class="label_2" for="form_box_name">Имя</label>
                        </p>
                        <p>
                            <input
                                    id="form_box_name"
                                    type="text"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не указали имя"
                                    value=""
                                    placeholder=""
                            />
                        </p>
                    </div>
                    <div class="ib mr-30 c-25">
                        <p>
                            <label class="label_2" for="form_box_middlename"
                            >Отчество</label
                            >
                        </p>
                        <p>
                            <input
                                    id="form_box_middlename"
                                    type="text"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не указали отчество"
                                    value=""
                                    placeholder=""
                            />
                        </p>
                    </div>
                    <div class="ib c-25">
                        <p>
                            <label class="label_2" for="form_box_date"
                            >Дата рождения</label
                            >
                        </p>
                        <p>
                            <input
                                    id="form_box_date"
                                    type="text"
                                    class="field c-100"
                                    required="required"
                                    data-error-message-empty="вы не указали дату"
                                    value=""
                                    placeholder=""
                            />
                        </p>
                    </div>
                </div>
                <p>
                    <label class="checkbox">
                        <input
                                id="checkbox_4"
                                name="checkbox"
                                class="hidden"
                                type="checkbox"
                                value="" />
                        <span class="bg"></span
                        ></label>
                    <label class="label ml-10" for="checkbox_4"
                    >Этот зритель является владельцем заказа</label
                    >
                </p>
            </form>
        </div>
    </div>
</div>
<div id="tab_4" class="hidden select_locations select_locations_2">
    <div class="item">
        <div class="title">Театр оперетты</div>
        <p>ГРАФ ОРЛОВ 16 апреля 2021 19:00, пятница</p>
        <div class="box">
            <a class="link" href="#">
                <div class="in">Выбрано билетов:</div>
                <div class="number">1</div>
            </a>
            <a class="link" href="#">
                <div class="in">на сумму</div>
                <div class="number">5500 руб.</div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="resume resume_no_active">
            <a class="link" href="#">продолжить</a>
        </div>
        <div class="red_text">Осталось времени: 07 мин. 10 сек.</div>
    </div>
    <div class="info_text">
        <p class="mb-55">Выберите способ получения билетов</p>
    </div>
    <div class="how_get">
        <div class="e-ticket">
            <a class="link" href="#">ЭЛЕКТРОННЫЙ БИЛЕТ</a>
        </div>
        <div class="text">
            <p>
                Для оплаты электронного билета Вы будете направлены на страницу
                платежного шлюза банка ВТБ (ПАО).
            </p>
            <p>
                К оплате принимаются банковские карты MasterCard, MasterCard
                Electronic*, VISA, VISA Electron, Maestro, MIR(МИР).
                <span class="small_text">* - только с 3DS.</span>
            </p>
            <p>
                После оплаты билеты в файле формата pdf будут доступны для
                скачивания и распечатки.
            </p>
            <p>
                Вы выбрали опцию "электронный билет", билет также будет
                отправлен на указанный Вами адрес электронной почты.
            </p>
            <p>
                Перед визитом в театр Вам необходимо распечатать "электронный
                билет" на бумаге в формате А4.
                <span class="small_text"
                >(для просмотра и печати потребуется программа Adobe Reader
                  используйте для печати данную программу, так как аналоги могут
                  искажать при выводе на печать штрих-код).</span
                >
            </p>
            <p>Театр не предоставляет услугу печати Электронного билета.</p>
        </div>
        <div class="form_box">
            <form class="ph-3 js-validate" action="" method="post">
                <p class="mb-32">
                    <label class="checkbox">
                        <input
                                id="checkbox_5"
                                name="checkbox"
                                class="hidden"
                                type="checkbox"
                                value="" />
                        <span class="bg"></span
                        ></label>
                    <label class="label ml-10" for="checkbox_5"
                    >Я принимаю
                        <a class="link" href="#"
                        >условия покупки и согл­шаюсь с условиями обработки
                            персональных данных</a
                        ></label
                    >
                </p>
                <div class="mb-20 c-100">
                    <p>
                        <label class="label_2" for="form_box_surname_name"
                        >Фамилия, Имя:</label
                        >
                    </p>
                    <p>
                        <input
                                id="form_box_surname_name"
                                type="text"
                                class="field c-100"
                                required="required"
                                data-error-message-empty="вы непредставились"
                                value=""
                                placeholder=""
                        />
                    </p>
                </div>
                <div class="mb-20 c-100">
                    <p>
                        <label class="label_2" for="form_box_email">E-mail:</label>
                    </p>
                    <p>
                        <input
                                id="form_box_email"
                                type="text"
                                class="field c-100"
                                required="required"
                                data-error-message-empty="вы не указали email"
                                data-error-message-correct="вы неверно указали email"
                                value=""
                                placeholder=""
                        />
                    </p>
                </div>
                <div class="mb-20 c-100">
                    <p>
                        <label class="label_2" for="form_box_phone">Телефон</label>
                    </p>
                    <p>
                        <input
                                id="form_box_phone"
                                type="tel"
                                class="field c-100 js-tel"
                                required="required"
                                data-error-message-empty="вы не указали телефон"
                                data-error-message-correct="вы неверно указали телефон"
                                value=""
                                placeholder=""
                        />
                    </p>
                </div>
                <div class="c-100">
                    <p>
                        <label class="checkbox">
                            <input
                                    id="checkbox_6"
                                    name="checkbox"
                                    class="hidden"
                                    type="checkbox"
                                    value="" />
                            <span class="bg"></span
                            ></label>
                        <label class="label_2 ml-10" for="checkbox_6"
                        >Подписка на новости</label
                        >
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="tab_5" class="hidden select_locations select_locations_3">
    <div class="item">
        <div class="title">Театр оперетты</div>
        <p>ГРАФ ОРЛОВ 16 апреля 2021 19:00, пятница</p>
    </div>
    <div class="item">
        <div class="resume"><a class="link" href="#">продолжить</a></div>
        <div class="red_text">Осталось времени: 07 мин. 10 сек.</div>
    </div>
    <div class="attention">
        ВНИМАНИЕ! При оплате пластиковой картой обработка платежа и отправка
        письма со ссылкой на электронные билеты может занять до 60 минут с
        момента завершения оплаты.
    </div>
    <p class="f-23">Проверка информации о заказе</p>
    <table class="table table_1">
        <tr>
            <th>Сектор</th>
            <th>Ряд</th>
            <th>Место</th>
            <th>Цена</th>
        </tr>
        <tr>
            <td>Ложа бенуара №1</td>
            <td>1</td>
            <td>14</td>
            <td>3 700 руб.</td>
        </tr>
    </table>
    <div class="total">
        ИТОГО билетов 1 на сумму 3 700 руб.<br />
        НДС не облагается
    </div>
    <p class="f-23">Контактная информация</p>
    <table class="table table_2">
        <tr>
            <td>Способ покупки билетов</td>
            <td>Электронный билет через интернет</td>
        </tr>
        <tr>
            <td>Фамилия, Имя</td>
            <td>Тодуа Реваз Вячеславович</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td>revaztodua@gmail.com</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>9253127732</td>
        </tr>
    </table>
</div>
