{% include '_parts/h1.html.twig' %}

<div class="tickets-wrapper">
    {% include 'tickets_online/_nav.html.twig' %}

    {% include '_parts/calendar/outer.html.twig' %}

    {% if widget_settings['is_inline'] %}
    <i class="widget-close"></i>
    <iframe id="widget" src="" scrolling="no" data-delta="{{ iframe_delta|json_encode }}"></iframe>
    {% endif %}
    {% if widget_settings['is_popup'] %}
    <div class="widget-popup-wrapper">
        <div class="overlay"></div>
        <i class="widget-close"></i>
        <div id="widget-popup"></div>
    </div>
    {% endif %}

    <div class="stocks">
        <h3 class="h3">{{ content_by_type['actions']['localized_title'] }}</h3>
        <ul class="list ibs stocks_list">
            {% for n in actions %}
                {% include 'news/row.html.twig' %}
            {% endfor %}
        </ul>
    </div>
</div>

{#
{% include 'tickets_online/_steps.html.twig' %}
#}

{% include '_parts/snippets/tickets.html.twig' %}



{#
<div id="frame_container_63fcc04e9773f"></div>
<script type="text/javascript">
  (function() {
    var init = function() {
      profTicketWidgetApi.iFrame('frame_container_63fcc04e9773f', {
        src: 'https://spa.profticket.ru/customer/155/shows/17/?frameContainerId=frame_container_63fcc04e9773f&widgetType=iframe#1454'
      });
    };
    if (typeof profTicketWidgetApi !== 'undefined') {
      init();
    } else {
      (profTicketWidgetApiInitCallbacks = window.profTicketWidgetApiInitCallbacks || []).push(init);
    }
  })();
</script>
 #}


{# orlov

<!-- в head один раз -->
<script type="text/javascript">
    setTimeout(function() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://widget.profticket.ru/api/api.min.js?2';
        script.async = true;
        document.body.appendChild(script);
    }, 0);
</script>

<!-- в место вызова фрейма-->
<div id="frame_container_63fcc7101ecc2"></div>
<script type="text/javascript">
    (function() {
        var init = function() {
            profTicketWidgetApi.iFrame('frame_container_63fcc7101ecc2', {
                src: 'https://spa.profticket.ru/customer/155/shows/14/?frameContainerId=frame_container_63fcc7101ecc2&widgetType=iframe#1439'
            });
        };
        if (typeof profTicketWidgetApi !== 'undefined') {
            init();
        } else {
            (profTicketWidgetApiInitCallbacks = window.profTicketWidgetApiInitCallbacks || []).push(init);
        }
    })();
</script>

#}
