<link rel="image_src" href="{{ open_graph['image'] }}">

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ canonical['domain'] }}">
<meta property="og:title" content="{{ open_graph['title'] ?: meta['title'] }}">
<meta property="og:description" content="{{ open_graph['description'] ?: meta['description'] }}">
<meta property="og:url" content="{{ canonical['full_url'] }}">
<meta property="og:locale" content="en_EN">
<meta property="og:image" content="{{ open_graph['image'] }}">
{% if open_graph['image_width'] %}
<meta property="og:image:width" content="{{ open_graph['image_width'] }}">
<meta property="og:image:height" content="{{ open_graph['image_height'] }}">
{% endif %}
<meta property="fb:app_id" content="">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ open_graph['title'] ?: meta['title'] }}">
<meta name="twitter:description" content="{{ open_graph['description'] ?: meta['description'] }}">
<meta name="twitter:image:src" content="{{ open_graph['image'] }}">
<meta name="twitter:url" content="{{ canonical['full_url'] }}">
<meta name="twitter:domain" content="{{ canonical['domain'] }}">
{#
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@...">
#}
