<script src="https://browser.sentry-cdn.com/7.33.0/bundle.min.js" integrity="sha384-fqi7Nj+xYL2iw/JEQszlVbuFt0CckGZmcb7XqOEOF5DBR0Ajzp3ZAlG3CT765hE3" crossorigin="anonymous"></script>
<script>
    typeof Sentry != 'undefined' && Sentry.init({
        dsn: '{{ counters['uid']['sentry_dsn'] }}',
        // integrations: [new Sentry.BrowserTracing()],
        tracesSampleRate: 1.0,
    });
</script>
