{% if _tech['env'] in ['dev_', 'stage_'] %}
    {% set suffix = '' %}
{% else %}
    {% set suffix = '.min' %}
{% endif %}
{% if needed['sentry'] %}{% include '_common_parts/head/sentry.html.twig' %}{% endif %}
<script src="/assets/js/vendors{{ suffix }}.js?{{ files_timestamp }}" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/app{{ suffix }}.js?{{ files_timestamp }}" type="text/javascript" charset="utf-8"></script>
