{% include '_parts/h1.html.twig' %}

<div class="article_list_block js-article_list_block">
    <ul class="list ibs news_list js-list">
        {% for n in news %}
            {% include 'news/row.html.twig' %}
        {% endfor %}
    </ul>
    {% if col_left %}
    <p class="ac">
        <a class="open js-open" data-url="/api/{{ entity_type_name }}/load_more" data-loading-text="{{ local['word.loading'] }}">{{ local['phrase.load_more'] }}</a>
        <a class="close js-close">{{ local['word.collapse'] }}</a>
    </p>
    {% endif %}
</div>
