<li class="item">
    <a class="link" href="{{ n['href'] }}">
        <div class="fig">
            <img class="img" src="{{ n['pic_tn_with_path'] }}" alt="{{ n['localized_title'] }}" loading="lazy">
        </div>
        <div class="date">{{ n['date_str'] }}</div>
        <div class="text">{{ n['localized_title'] }}</div>
    </a>
</li>
