<h1 class="h4 ac pt-5">{{ content_page['localized_title'] }}</h1>
<div class="news_in_block">
    <div class="title">{{ n['localized_title'] }}</div>
    <div class="date">{{ n['date_str'] }}</div>
    <div class="fig">
        <img class="img" src="{{ n['pic_with_path'] }}" alt="{{ n['localized_title'] }}" loading="lazy">
    </div>
    {{ n['localized_content']|raw }}
</div>
<div class="other_news">
    <h2 class="h2">{{ local['caption.other_' ~ entity_type_name] }}</h2>
    <ul class="list ibs news_list">
        {% for n in news %}
            {% include 'news/row.html.twig' %}
        {% endfor %}
    </ul>
</div>
