{% include '_parts/h1.html.twig' %}

<div class="send_reviews">
    <a class="link js-show_modal" href="#modal_reviews_form">{{ local['review.add'] }}</a>
</div>

<ul class="list ibs opisanie_list_2 js-tabs">
    <li class="item"><a class="link active" href="#tab_2" data-type="2">{{ local['review.type.of.celebrity'] }}</a></li>
    <li class="item"><a class="link" href="#tab_1" data-type="1">{{ local['review.type.of.general'] }}</a></li>
</ul>

<div id="tab_2" class="reviews" data-type="2">
    <ul class="list ibs reviews_list">
        {% for r in reviews|filter(r => r.isCelebrity()) %}
            {% include 'reviews/row.html.twig' with {
                first: loop.index == 1
            } %}
        {% endfor %}
    </ul>
</div>

<div id="tab_1" class="reviews hidden" data-type="1">
    <ul class="list ibs reviews_list reviews_list_audience">
        {% for r in reviews|filter(r => r.isGeneral()) %}
            {% include 'reviews/row.html.twig' with {
                first: loop.index == 1
            } %}
        {% endfor %}
    </ul>
</div>
