<li class="item" data-type="{{ r['type'] }}">
    <a class="link js-show_modal" data-modal-class="modal_reviews_block" href="#modal-review-{{ r['id'] }}">
        {% set name_class = r.isCelebrity() ? 'name' : 'name_beige' %}
        {% set read_class = first and r.isGeneral() ? 'btn btn_2' : 'btn btn_2' %}
        {% if r.isCelebrity() %}
            <div class="fig">
                <img class="img" src="{{ r['pic_with_path'] }}" alt="{{ r['localized_title'] }} {{ r['localized_position'] }}" loading="lazy">
            </div>
        {% endif %}
        <div class="{{ name_class }}">{{ r['localized_title'] }}</div>
        {% if r.isCelebrity() %}
            <div class="post">{{ r['localized_position'] }}</div>
        {% endif %}
        <div class="text">{{ r['localized_short_content'] }}</div>
        <div class="{{ read_class }}">{{ local['review.read'] }}</div>
    </a>
    <template id="modal-review-{{ r['id'] }}">
        {% if r.isCelebrity() %}
            <div class="fig">
                <img class="img" src="{{ r['pic_with_path'] }}" alt="{{ r['localized_title'] }} {{ r['localized_position'] }}" loading="lazy">
            </div>
        {% endif %}
        <div class="name">{{ r['localized_title'] }}</div>
        {% if r.isCelebrity() %}
            <div class="post">{{ r['localized_position'] }}</div>
        {% endif %}
        <div class="text">{{ r['localized_content']|raw ?: r['content'] }}</div>
    </template>
</li>
