{# два комплекта фото, с полным ростом #}
{% set a = not Z.addBodyClass(['black_bg']) %}{# 'no_age_limit' #}
{% set nums = {1: 'one', 2: 'two', 3: 'three', 4: 'four'} %}
{% include '_parts/h1.html.twig' %}
<ul class="list soloists_list soloists_list_no_overlay">
    {% for row in col|batch(3, '') %}
        {% set realRow = row|filter(v => v) %}
        {% set count = realRow|length %}
        {% set numCssClass = 'item_with_' ~ nums[count] %}
        <li class="item {{ numCssClass }}">
            {% for m in realRow %}
                <div class="name_block {{ m['css_class'] }}">
                    <a
                        data-lightbox="gal4"
                        class="link js-lightbox"
                        data-light-class="modal_soloists_block"
                        href="{{ m['pic2_with_path'] }}"
                        data-lightbox-subtitle="{{ m['localized_title'] }}"
                        data-lightbox-subtext="{{ m['localized_content'] }}"
                    ></a>
                    <div class="fig">
                        <img class="img" src="{{ m['pic_with_path'] }}" alt="{{ m['localized_title'] }}" loading="lazy">
                    </div>
                    <div class="name">{{ m['localized_title'] }}</div>
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
