{% include '_parts/head/head.html.twig' %}

<body data-page-type="{{ content_page['type'] }}" class="{{ Z.getBodyClasses()|join(' ') }}">

{% if needed['counters'] %}{{ counters['body']['top']|raw }}{% endif %}

<div class="wrapper">
{% include 'header.html.twig' %}

<section class="content">
    {% if Z.isTopSubMenuNeeded() %}{% include 'menu/sub.html.twig' %}{% endif %}
{{ _page|raw }}
</section>

{% include '_common_parts/footer.html.twig' %}
</div>

{% include '_parts/modals.html.twig' %}
{% include '_parts/head/static.html.twig' %}
{% if Z.hasBottomCode() %}{{ Z.getBottomCode()|raw }}{% endif %}
{% if Z.hasBottomScript() %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        {#window.onload = function() {#}
            {{ Z.getBottomScript()|raw }}
        });
    </script>
{% endif %}

{% if needed['counters'] %}
    <div class="body-counters" data-uid-metrika="{{ counters['uid']['metrika'] }}">
        {{ counters['body']['bottom']|raw }}
    </div>
{% endif %}

</body>
</html>
