{% set double_caption = Z.getContentFamily().getMemberByLevel(1)['type'] == 'information' %}
{% set h1_not_needed = Z.getContentFamily().getMemberByLevel(1)['type'] == 'information' and content_page['level_num'] == 2 %}

{% if double_caption %}
    {% set h1_props = {
        h1_tag_class: 'h4',
        h1_force: Z.getContentFamily().getMemberByLevel(1)['localized_title'],
    } %}
{% else %}
    {% set h1_props = {} %}
{% endif %}

{% if not h1_not_needed %}{% include '_parts/h1.html.twig' with h1_props %}{% endif %}
{% block below_h1 %}{% endblock %}

<div class="{% block wrapper_class %}info_2{% endblock %}">
    {% if double_caption %}
        <div class="{% block second_caption_class %}info_title{% endblock %}">{{ content_page['localized_title'] }}</div>
    {% endif %}
    <div class="user-content">
        {{ content_page['localized_content']|raw }}
    </div>
</div>
