<div class="theater_block">
    {% include '_parts/h1.html.twig' %}
    <div class="fig">
        <img class="img" src="images/content/pic27.jpg" alt="" loading="lazy">
    </div>
</div>
<div class="theater_text">{{ content_page['localized_content']|raw }}</div>
