{% if sub_menu|length %}
<div class="carousel_6_block">
    <ul class="list ibs opisanie_list_1 opisanie_list_midle">
        {% for m in sub_menu %}
            {% set selected = m['id'] == Z.getContentFamily().getMemberByLevel(1)['id'] %}
            <li class="item"><a class="link{% if selected %} active{% endif %}" href="{{ m['real_href'] }}">{{ m['localized_caption'] ?: m['localized_title'] }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
