<ul class="list">
    {% for m in main_menu %}
        {% set classes = ['item'] %}
        {% set title = m['localized_caption'] ?: m['localized_title'] %}
        {% set selected = m['id'] == Z.getContentFamily().getMemberByLevel(0)['id'] %}
        {% if selected %}
            {% set classes = classes|merge(['active']) %}
        {% endif %}
        {% if m['type'] == 'home' %}
            {% set title = '' %}
            {% set classes = classes|merge(['item_logo']) %}
        {% elseif m['type'] == 'tickets' %}
            {% set classes = classes|merge(['ticket']) %}
        {% endif %}
        <li class="{{ classes|join(' ') }}"><a href="{{ m['real_href'] }}" class="link"{% if show_icons %} style="background-image: url({{ m['ico_with_path'] }});"{% endif %}>{{ title }}</a></li>
    {% endfor %}
</ul>
