{% include '_parts/h1.html.twig' %}

<ul class="list partners_list">
    {% for catId, catTitle in categories %}
        {% set partnersOfCat = partners|filter(p => p['category_id'] == catId) %}
        {% if partnersOfCat|length %}
            <li class="item">
                <div class="title">{{ catTitle }}</div>
                <ul class="list ibs partners_logo_list">
                    {% for p in partnersOfCat %}
                    <li class="item">
                        {% if p.hasHref() %}<a class="link" href="{{ p['href'] }}" target="_blank" title="{{ p['localized_title'] }}">{% endif %}
                        <div class="fig"><img class="img" src="{{ p['pic_with_path'] }}" alt="{{ p['localized_title'] }}" loading="lazy"></div>
                        {% if p.hasHref() %}</a>{% endif %}
                    </li>
                    {% endfor %}
                    {% for i in 1..2 %}<li class="item empty-flex"></li>{% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
