<div class="title">{{ local['contact_data.title'] }}</div>
<div class="address">{{ local['contact_data.address'] }}</div>
<div class="metro">
    <div class="item">
        <div class="fig">
            <img class="img" src="images/icons/metro_theater.svg" alt="{{ local['contact_data.metro.teatr'] }}" loading="lazy">
        </div>
        <div class="text">{{ local['contact_data.metro.teatr'] }}</div>
    </div>
    <div class="item">
        <div class="fig">
            <img class="img" src="images/icons/metro_okhotny_ryad.svg" alt="{{ local['contact_data.metro.ohotny'] }}" loading="lazy">
        </div>
        <div class="text">{{ local['contact_data.metro.ohotny'] }}</div>
    </div>
</div>
