{% if true %}
    {% set url = _lang['name'] == 'ru'
        ? 'https://yandex.ru/map-widget/v1/?'
        : 'https://yandex.com/map-widget/v1/?' %}
    {% set p = 'um=constructor%3A3797fd80792d6a17c4e27f7505f6f056496c7fcb432d23cacd5f991b3775350c&amp;source=constructor' %}
{% else %}
    {% set url = 'https://www.google.com/maps/embed?' %}
    {% set p = _lang['name'] == 'ru'
        ? 'pb=!1m18!1m12!1m3!1d2244.8917063762365!2d37.61357581526061!3d55.760383398875625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a44c0462935%3A0xe4b6210d9daafbc0!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JPQvtGB0YPQtNCw0YDRgdGC0LLQtdC90L3Ri9C5INCQ0LrQsNC00LXQvNC40YfQtdGB0LrQuNC5INGC0LXQsNGC0YAg0L7Qv9C10YDQtdGC0YLRiw!5e0!3m2!1sru!2sru!4v1626343042814!5m2!1sru!2sru'
        : 'pb=!1m14!1m8!1m3!1d2244.891706311509!2d37.6135758!3d55.7603834!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a44c0462935%3A0xe4b6210d9daafbc0!2sMoscow%20Operetta%20State%20Academic%20Theatre!5e0!3m2!1sen!2sru!4v1625034572644!5m2!1sen!2sru' %}
{% endif %}
<div class="fig">
    <iframe src="{{ url ~ p }}" width="100%" height="450" frameborder="0" style="border: 0" allowfullscreen loading="lazy"></iframe>
</div>
