<div class="contacts_2">
    {% include '_parts/h1.html.twig' %}
    {% include 'contacts/location.html.twig' %}
    {% include 'contacts/map.html.twig' %}
</div>

{% include 'contacts/tickets.html.twig' %}

<a name="parkings"></a>
<h2 class="h2 ac mb-70 f-18_mobile">{{ local['contact_data.parking.title'] }}</h2>

<ul class="list ibs map_list">
    <li class="item">
        <div class="fig">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJv21XTFtKtUYR8ikdmhgpqJM&key=AIzaSyDFJbYBZokH8hkK8nNfUKXguarRuIe2cqg&language={{ _lang['name'] }}" width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        <div class="text">{{ local['contact_data.parking.name.big_theatre'] }}<br>{{ local['contact_data.parking.address.big_theatre'] }}</div>
    </li>
    <li class="item">
        <div class="fig">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJYzKGVltKtUYRJ-UDlphas6Q&key=AIzaSyDFJbYBZokH8hkK8nNfUKXguarRuIe2cqg&language={{ _lang['name'] }}" width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        <div class="text">{{ local['contact_data.parking.name.tsum'] }}<br>{{ local['contact_data.parking.address.tsum'] }}</div>
    </li>
    <li class="item">
        <div class="fig">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJh3QllFpKtUYRBZeLUC0l5qI&key=AIzaSyDFJbYBZokH8hkK8nNfUKXguarRuIe2cqg&language={{ _lang['name'] }}" width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        <div class="text">{{ local['contact_data.parking.name.moskva'] }}<br>{{ local['contact_data.parking.address.moskva'] }}</div>
    </li>
    <li class="item">
        <div class="fig">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJmdG7aUVKtUYRMftl2JKz9bU&key=AIzaSyDFJbYBZokH8hkK8nNfUKXguarRuIe2cqg&language={{ _lang['name'] }}" width="100%" height="400" frameborder="0" style="border: 0" allowfullscreen></iframe>
        </div>
        <div class="text">{{ local['contact_data.parking.name.ritz'] }}<br>{{ local['contact_data.parking.address.ritz'] }}</div>
    </li>
</ul>
