<div class="booking_tickets">
    <h3 class="h3">
        <a class="link" href="{{ content_by_type['tickets']['real_href'] }}">{{ local['caption.tickets'] }}</a>
    </h3>
    <div class="title">{{ local['tickets.when'] }}</div>
    <div class="phone_booking_tickets">
        <a class="link" href="tel:+{{ local['tickets.phone']|clean_phone }}">{{ local['tickets.phone'] }}</a>
    </div>
    <div class="other_contacts">
        <div class="item">
            <div class="title">{{ local['tickets.01.title'] }}</div>
            <div class="name">{{ local['tickets.01.person.01'] }}</div>
            <div class="mail_other_contacts">
                {% if local['tickets.01.email.01'] %}
                <a class="link" href="mailto:{{ local['tickets.01.email.01'] }}">{{ local['tickets.01.email.01'] }}</a>
                {% endif %}
                {% if local['tickets.01.email.11'] %}
                <a class="link" href="mailto:{{ local['tickets.01.email.11'] }}">{{ local['tickets.01.email.11'] }}</a>
                {% endif %}
            </div>
            <div class="name">{{ local['tickets.01.person.02'] }}</div>
            <div class="mail_other_contacts">
                {% if local['tickets.01.email.02'] %}
                <a class="link" href="mailto:{{ local['tickets.01.email.02'] }}">{{ local['tickets.01.email.02'] }}</a>
                {% endif %}
                {% if local['tickets.01.email.12'] %}
                <a class="link" href="mailto:{{ local['tickets.01.email.12'] }}">{{ local['tickets.01.email.12'] }}</a>
                {% endif %}
            </div>
            <div class="phone_other_contacts">
                <a class="link" href="tel:+{{ local['tickets.01.phone']|clean_phone }}">{{ local['tickets.01.phone'] }}</a>
            </div>
        </div>
        <div class="item">
            <div class="title">{{ local['tickets.02.title'] }}</div>
            <div class="name">{{ local['tickets.02.person.01'] }}</div>
            <div class="mail_other_contacts">
                {% if local['tickets.02.email.01'] %}
                <a class="link" href="mailto:{{ local['tickets.02.email.01'] }}">{{ local['tickets.02.email.01'] }}</a>
                {% endif %}
                {% if local['tickets.02.email.11'] %}
                <a class="link" href="mailto:{{ local['tickets.02.email.11'] }}">{{ local['tickets.02.email.11'] }}</a>
                {% endif %}
            </div>
            <div class="name">{{ local['tickets.02.person.02'] }}</div>
            <div class="mail_other_contacts">
                {% if local['tickets.02.email.02'] %}
                <a class="link" href="mailto:{{ local['tickets.02.email.02'] }}">{{ local['tickets.02.email.02'] }}</a>
                {% endif %}
                {% if local['tickets.02.email.12'] %}
                <a class="link" href="mailto:{{ local['tickets.02.email.12'] }}">{{ local['tickets.02.email.12'] }}</a>
                {% endif %}
            </div>
            <div class="phone_other_contacts">
                <a class="link" href="tel:+{{ local['tickets.02.phone']|clean_phone }}">{{ local['tickets.02.phone'] }}</a>
            </div>
        </div>
        <div class="item">
            <div class="title">{{ local['tickets.03.title'] }}</div>
            <div class="mail_other_contacts">
                {% if local['tickets.03.email.01'] %}
                <a class="link" href="mailto:{{ local['tickets.03.email.01'] }}">{{ local['tickets.03.email.01'] }}</a>
                {% endif %}
                {% if local['tickets.03.email.11'] %}
                <a class="link" href="mailto:{{ local['tickets.03.email.11'] }}">{{ local['tickets.03.email.11'] }}</a>
                {% endif %}
            </div>
            <div class="name mb-20">{{ local['tickets.welcome'] }}</div>
            <div class="phone_other_contacts">
                <a class="link" href="tel:+{{ local['tickets.03.phone']|clean_phone }}">{{ local['tickets.03.phone'] }}</a>
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
</div>
